footer {
    background: rgb(83, 120, 121);
    color: white;
}

.edit {
    float: right;
    padding-right: 10px;
}

body {
    background: rgb(219, 255, 255);
}

.navbar {
    background: rgb(44, 105, 107);
    color: black;
}

li {
    font-style: italic;
    font-family: Imprint MT Shodow;
    font-weight: bolder;
    font-size: large;
    
}

.modal-header{
    background: rgb(44, 105, 107);
}

